*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Inter;
}

body{
background:#050816;
color:white;
}

.nav{
display:flex;
justify-content:space-between;
padding:15px 30px;
background:rgba(10,15,30,.6);
position:fixed;
width:100%;
backdrop-filter:blur(20px);
z-index:10;
}

.nav button{
background:transparent;
border:none;
color:#aaa;
margin:0 8px;
cursor:pointer;
}

.logo{
color:#38bdf8;
font-weight:700;
}

.hero{
height:100vh;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
text-align:center;
}

.hero img{
width:300px;
margin-top:20px;
border-radius:20px;
opacity:.8;
}

.section{
padding:100px 10%;
}

.dark{
background:#0b1220;
}

.text{
max-width:800px;
margin:20px 0;
color:#bbb;
line-height:1.6;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
}

.card{
background:rgba(255,255,255,.05);
padding:20px;
border-radius:15px;
border:1px solid rgba(56,189,248,.2);
}

.img{
width:100%;
max-width:600px;
border-radius:20px;
margin:20px 0;
opacity:.9;
}

/* ANIMAÇÃO */
.fade{
opacity:0;
transform:translateY(40px);
animation:show .8s forwards;
}

@keyframes show{
to{
opacity:1;
transform:translateY(0);
}
}

input{
width:100%;
padding:12px;
border-radius:10px;
border:none;
background:#0b1220;
color:white;
margin-bottom:10px;
}

footer{
text-align:center;
padding:30px;
color:#666;
}
